.app-header {
  background-color: orchid;
  border-bottom: double 5dvh white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.75em;
  font-style: oblique;
  color: white;
  padding-left: 1em;
  padding-right: 10lvh;
}

.app-footer{
  display: flex;
  flex-direction: row;
  font-size: 0.5em;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10lvh;
  border-top: white 5pt solid;
}

.header-footer-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background-color: mediumorchid;
}

