body {
  background-color: mediumorchid;
}

.app-header {
  background-color: mediumorchid;
  border-bottom: double 5dvh white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.75em;
  font-style: oblique;
  padding-left: 1em;
  padding-right: 10lvh;
}

.app-footer{
  display: flex;
  flex-direction: row;
  font-size: 0.5em;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10lvh;
  border-top: white 5pt solid;
}

.header-footer-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-body{
margin-left: 5vh;
display: flex;
flex-direction: column;
align-items: center;
}

.title{
  margin: 0;
}

.guess-button {
  max-height: 25em;
  max-width: 25em;
  border: outset orchid 6px;
  margin-right: 2lvh;
  font-size: 18px;
}

.guess-button:hover{
  background-color: gray;
}

.guess-button:active{
  transform: translateY(-4px);
}

.button-image{
  max-width: 12em;
  max-height: 12em;
  margin: 1ch;
  border: solid 1px black
}

.button-flex{
  display:flex;
  flex-direction: row;
}

.lyrics-quote{
  border: solid white 0.5ch;
  min-height: 50%;
  margin: 2ch;
}

.quote-block{
  padding: 2ch;
}
